$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;

$color-bg-white:#fff;
$color-bg-hover:#f5edff;
$color-bg-grey:#f7f7f7;
$color-bg-location:#eaeaea;
$color-bg-footer:#353535;
$color-bg-black: #000;
$color-bg-new:#99E2D0;

$color-font-white:#fff;
$color-font-icon:#7e7e7e;
$color-font-location:#353535;
$color-font-black:#000;
$color-font-new:#008766;