$font-logo: "Shrikhand", serif;
$font-body: "Roboto", sans-serif;

$font-weight: (300, 500, 700);

$font-size: (
    logo-header: 2rem, 
    logo-footer: 1.125rem, 
    title-restaurant: 1.75rem, 
    heading: 1.5rem, 
    sub-heading: 1.2rem, 
    text: 1rem
);