$box-shadow: (
    btn: 0 0.25rem 0.625rem rgba($color-font-black, 0.25),
    btn-hover: 0 0.25rem 0.9rem rgba($color-font-black, 0.5)
);

$padding: (
    btn-homepage: 0.8rem 1rem,
    btn-pages: 1rem 3rem
);